{% extends 'base.html' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
<article class="panel">
    <h1>{{ topic.title }}</h1>

    <div class="topic-meta">
        {% if topic.author.avatar %}
            <img class="avatar small" src="{{ topic.author.avatar.url }}" alt="{{ topic.author.username }}">
        {% endif %}
        <span>{{ topic.author.username }}</span>
        <span>{{ topic.created_at|date:"d.m.Y H:i" }}</span>
    </div>

    <p>{{ topic.text }}</p>
    {% if user == topic.author %}
        <div class="topic-actions">
            <a class="button" href="{% url 'discussions:topic_update' topic.pk %}">Редактировать</a>
            <a class="button danger" href="{% url 'discussions:topic_delete' topic.pk %}">Удалить</a>
        </div>
    {% endif %}
</article>

<a href="{% url 'discussions:topic_list' %}">Назад к темам</a>
{% endblock %}
